body, html {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-color: #ffffff; /* Color de fondo tipo piel */
}

body {
    padding-top: 100px; /* Ajusta este valor según la altura total de tu navbar y barra de filtros */
}


#navbar {
    background-color: #fddc5c; /* Un tono dorado claro */
    color: #453823; /* Color marrón oscuro para el texto */
    display: flex;
    justify-content: center; /* Centra los elementos dentro de navbar */
    align-items: center;
    padding: 10px 5%; /* Añade un poco de espacio a los lados */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#logo-title-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el logo y el título juntos */
}

#navbar h1 {
    font-size: 2.5em;
    margin: 0;
    padding-left: 20px; /* Ajusta según sea necesario para el espacio después del logo */
}


#search-bar {
    padding: 5px;
    margin: 0 15px; /* Asegura un margen entre la barra de búsqueda y los elementos vecinos */
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fddc5c; /* Mismo tono dorado claro */
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #453823; /* Color marrón oscuro para los enlaces */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #f3cf5d; /* Un dorado un poco más oscuro al hacer hover */
}



/* Estilos para la barra de filtros */
#filters {
    background-color: #000cb8; /* Color dorado claro para la barra de filtros */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 0;
    display: flex;
    justify-content: space-around; /* Distribuye los botones uniformemente */
    align-items: center;
    position: fixed;
    width: 100%;
    top: 73px; /* Ajusta esta altura según la altura de tu navbar */
    z-index: 5;
}
.filter-btn {
    background-color: transparent; /* Elimina el fondo */
    border: none; /* Elimina el borde */
    padding: 5px 10px;
    margin: 0 5px; /* Ajusta el margen entre botones si es necesario */
    cursor: pointer;
    box-shadow: none; /* Elimina la sombra */
    font-family: 'Montserrat', sans-serif; /* Cambia la fuente */
    font-size: 1em; /* Ajusta el tamaño de la fuente según sea necesario */
    color: #ffffff; /* Cambia el color del texto si es necesario */
    transition: color 0.3s ease;
}

.filter-btn:hover {
    color: #cf9f00; /* Cambia el color al pasar el mouse */
    text-decoration: underline; /* Subraya el texto al pasar el mouse */
}

.filter-btn:active {
    transform: scale(0.95); /* Efecto de clic */
    background-color: #997a00; /* Color de fondo cuando está seleccionado */
    color: #ffffff; /* Color del texto en botón seleccionado */
}
.filter-link {
    text-decoration: none; /* Elimina cualquier subrayado de los enlaces */
    color: inherit; /* Asegura que el texto de los botones use el color heredado */
}



main {
    margin-left: 200px; /* Same as the #filters width */
    padding: 60px 10px 20px 10px; /* Adjust the padding to fit your design */
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
    nav ul li, #filters, main {
        float: none;
        width: 100%;
    }
    
    #navbar, footer {
        position: static;
    }

    main {
        margin: 0;
    }
}

#shopping-cart-logo {
    width: 50px; /* Tamaño del logo */
    height: 50px; /* Tamaño del logo */
    background: url('BasketDefault.png') no-repeat center center; /* Cambia con la URL de tu imagen del logo */
    background-size: contain; /* Asegura que la imagen se ajuste dentro del div */
    cursor: pointer; /* Cambia el cursor a un puntero */
    margin-right: 20px; /* Espacio entre el logo y los otros elementos del navbar */
}

#cart-link {
    text-decoration: none; /* Elimina cualquier subrayado */
    color: inherit; /* Hereda el color de texto del elemento padre */
}


/*------------------------------------------------------------------------------------------PRODUCTOS

/* Estilo de la caja del producto */
.product-box {
    /* ... otros estilos ... */
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px; /* Ajusta el ancho según tus preferencias */
    padding: 20px; /* Aumenta el padding para más espacio interno */
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza la transición de la transformación y la sombra */
    font-family: 'Lato', sans-serif; /* Aplica la fuente Lato a toda la caja */
    flex: 1 0 21%; /* Esto significa que cada caja tratará de ocupar al menos el 21% del contenedor, ajusta este porcentaje según tus necesidades */
}

.products-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea */
    justify-content: space-around; /* Ajusta esto según tus preferencias */
    /* Añade padding y otros estilos si es necesario */
}

.product-box:hover {
    transform: scale(1.03); /* Aumenta ligeramente el tamaño al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Sombra más pronunciada al pasar el mouse */
}


.product-img {
    max-width: 100%; /* Asegura que la imagen no sobrepase el ancho de la caja */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

.product-name {
    font-size: 1.4em;
    margin: 8px 0;
}

.product-price {
    font-size: 1.7em;
    color: #333;
    margin: 8px 0;
}

.add-to-cart-btn {
    background-color: #8afd5c; /* Fondo dorado para el botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados para el botón */
    padding: 12px 24px;
    color: #453823; /* Color del texto para el botón */
    cursor: pointer; /* Cambia el cursor a un puntero */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Añade transform a la transición */
}

.add-to-cart-btn:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}


.product-box:hover .add-to-cart-btn {
    animation: shake 0.5s ease;
}

.product-price.original-price {
    text-decoration: line-through; /* Tacha el precio original */
    color: #777; /* Cambia el color para indicar que es un precio no actual */
    font-size: 0.9em; /* Opcionalmente, puedes hacer este texto más pequeño */
}

.product-price.discounted-price {
    color: #ff0000; /* Un color destacado para el precio con descuento, como rojo */
    font-size: 1.2em; /* Hace el precio con descuento más grande */
}

